<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium">
  <test thread-count="5" name="AutomationPractise">
    <classes>
      <class name="com.sira.learning.SelAutomation.SmokeTest"/>
    </classes>
  </test> <!-- AutomationPractise -->
</suite> <!-- Selenium -->
